.flex-container{
    display:flex;
}
.flex-child-left{
    flex: 0.1;
    font-size: 25px;
    font-weight: 800;
    font-family:monospace;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color:black;
    border: 8px double blue;
    background-color: whitesmoke;
}  
.flex-child-right{
    flex: 0.8;
    margin-left:10px;
    border: 2px solid yellow;
    background: rgb(255, 235, 235);
    color:black;
}
.newBlogButton {
    position: relative;
    left:10%;
    background-color: #298e46;
    border: 1px slid black;
    border-radius: 6px;
    box-shadow: black;
    box-sizing: border-box;
    color:white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    
}
.newBlogButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.newBlogButton:hover {
  background-color: #2c974b;
}
.newBlogButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
.newBlogButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.deleteBlogButton {
    position: relative;
    left:60%;
    background-color: #ff0000;
    border: 1px slid black;
    border-radius: 6px;
    box-shadow: black;
    box-sizing: border-box;
    color:white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    
}
.deleteBlogButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.deleteBlogButton:hover {
  background-color: #972c2c;
}
.deleteBlogButton:focus {
  box-shadow: rgba(174, 10, 10, 0.4) 0 0 0 3px;
  outline: none;
}
.deleteBlogButton:active {
  background-color: #9d0000;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.editBlogButton {
    position:relative;
    left:35%;
    background-color: #001475;
    border: 1px slid black;
    border-radius: 6px;
    box-shadow: black;
    box-sizing: border-box;
    color:white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    
}
.editBlogButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.editBlogButton:hover {
  background-color: #005cb3;
}
.editBlogButton:focus {
  box-shadow: rgba(69, 33, 247, 0.4) 0 0 0 3px;
  outline: none;
}
.editBlogButton:active {
  background-color: #000d9d;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

*{
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: #d4d4d4;
  }

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: lightblue;
  }
  
.uploadBody{
    background-image: linear-gradient(to bottom right,rgb(255, 255, 168),rgb(255, 255, 255));
}

